<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.its.itone.sas.config.dao.mapper.SasDataSourceMapper" >
  <resultMap id="BaseResultMap" type="com.its.itone.sas.config.dao.pojo.SasDataSource" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="application" property="application" jdbcType="VARCHAR" />
    <result column="domain" property="domain" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="display_name" property="displayName" jdbcType="VARCHAR" />
    <result column="finger" property="finger" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="modify_user" property="modifyUser" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="parent" property="parent" jdbcType="VARCHAR" />
    <result column="tree_id" property="treeId" jdbcType="INTEGER" />
    <result column="id_path" property="idPath" jdbcType="OTHER" />
    <result column="name_path" property="namePath" jdbcType="VARCHAR" />
    <result column="subs" property="subs" jdbcType="ARRAY" />
    <result column="attributes" property="attributes" jdbcType="OTHER" />
    <result column="c_search" property="cSearch" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="index" property="index" jdbcType="INTEGER" />
    <result column="old_id" property="oldId" jdbcType="INTEGER" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="data_source" property="dataSource" jdbcType="VARCHAR" />
    <result column="data_source_type" property="dataSourceType" jdbcType="CHAR" />
    <result column="loader" property="loader" jdbcType="VARCHAR" />
    <result column="config" property="config" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, type, application, domain, code, name, display_name, finger, status, modify_user, 
    modify_time, parent, tree_id, id_path, name_path, subs, attributes, c_search, tag, 
    index, old_id, create_user, create_time, data_source, data_source_type, loader, config
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.its.itone.sas.config.dao.pojo.SasDataSourceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sas_data_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sas_data_source
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sas_data_source
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.its.itone.sas.config.dao.pojo.SasDataSourceExample" >
    delete from sas_data_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.its.itone.sas.config.dao.pojo.SasDataSource" >
    insert into sas_data_source (id, type, application, 
      domain, code, name, 
      display_name, finger, status, 
      modify_user, modify_time, parent, 
      tree_id, id_path, name_path, 
      subs, attributes, c_search, 
      tag, index, old_id, 
      create_user, create_time, data_source, 
      data_source_type, loader, config
      )
    values (#{id,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{application,jdbcType=VARCHAR}, 
      #{domain,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{displayName,jdbcType=VARCHAR}, #{finger,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{modifyUser,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{parent,jdbcType=VARCHAR}, 
      #{treeId,jdbcType=INTEGER}, #{idPath,jdbcType=OTHER}, #{namePath,jdbcType=VARCHAR}, 
      #{subs,jdbcType=ARRAY}, #{attributes,jdbcType=OTHER}, #{cSearch,jdbcType=VARCHAR}, 
      #{tag,jdbcType=VARCHAR}, #{index,jdbcType=INTEGER}, #{oldId,jdbcType=INTEGER}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{dataSource,jdbcType=VARCHAR}, 
      #{dataSourceType,jdbcType=CHAR}, #{loader,jdbcType=VARCHAR}, #{config,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.its.itone.sas.config.dao.pojo.SasDataSource" >
    insert into sas_data_source
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="application != null" >
        application,
      </if>
      <if test="domain != null" >
        domain,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="displayName != null" >
        display_name,
      </if>
      <if test="finger != null" >
        finger,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="parent != null" >
        parent,
      </if>
      <if test="treeId != null" >
        tree_id,
      </if>
      <if test="idPath != null" >
        id_path,
      </if>
      <if test="namePath != null" >
        name_path,
      </if>
      <if test="subs != null" >
        subs,
      </if>
      <if test="attributes != null" >
        attributes,
      </if>
      <if test="cSearch != null" >
        c_search,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="index != null" >
        index,
      </if>
      <if test="oldId != null" >
        old_id,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="dataSource != null" >
        data_source,
      </if>
      <if test="dataSourceType != null" >
        data_source_type,
      </if>
      <if test="loader != null" >
        loader,
      </if>
      <if test="config != null" >
        config,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="application != null" >
        #{application,jdbcType=VARCHAR},
      </if>
      <if test="domain != null" >
        #{domain,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null" >
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="finger != null" >
        #{finger,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parent != null" >
        #{parent,jdbcType=VARCHAR},
      </if>
      <if test="treeId != null" >
        #{treeId,jdbcType=INTEGER},
      </if>
      <if test="idPath != null" >
        #{idPath,jdbcType=OTHER},
      </if>
      <if test="namePath != null" >
        #{namePath,jdbcType=VARCHAR},
      </if>
      <if test="subs != null" >
        #{subs,jdbcType=ARRAY},
      </if>
      <if test="attributes != null" >
        #{attributes,jdbcType=OTHER},
      </if>
      <if test="cSearch != null" >
        #{cSearch,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="index != null" >
        #{index,jdbcType=INTEGER},
      </if>
      <if test="oldId != null" >
        #{oldId,jdbcType=INTEGER},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataSource != null" >
        #{dataSource,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceType != null" >
        #{dataSourceType,jdbcType=CHAR},
      </if>
      <if test="loader != null" >
        #{loader,jdbcType=VARCHAR},
      </if>
      <if test="config != null" >
        #{config,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.its.itone.sas.config.dao.pojo.SasDataSourceExample" resultType="java.lang.Integer" >
    select count(*) from sas_data_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sas_data_source
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.application != null" >
        application = #{record.application,jdbcType=VARCHAR},
      </if>
      <if test="record.domain != null" >
        domain = #{record.domain,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.displayName != null" >
        display_name = #{record.displayName,jdbcType=VARCHAR},
      </if>
      <if test="record.finger != null" >
        finger = #{record.finger,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.modifyUser != null" >
        modify_user = #{record.modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.parent != null" >
        parent = #{record.parent,jdbcType=VARCHAR},
      </if>
      <if test="record.treeId != null" >
        tree_id = #{record.treeId,jdbcType=INTEGER},
      </if>
      <if test="record.idPath != null" >
        id_path = #{record.idPath,jdbcType=OTHER},
      </if>
      <if test="record.namePath != null" >
        name_path = #{record.namePath,jdbcType=VARCHAR},
      </if>
      <if test="record.subs != null" >
        subs = #{record.subs,jdbcType=ARRAY},
      </if>
      <if test="record.attributes != null" >
        attributes = #{record.attributes,jdbcType=OTHER},
      </if>
      <if test="record.cSearch != null" >
        c_search = #{record.cSearch,jdbcType=VARCHAR},
      </if>
      <if test="record.tag != null" >
        tag = #{record.tag,jdbcType=VARCHAR},
      </if>
      <if test="record.index != null" >
        index = #{record.index,jdbcType=INTEGER},
      </if>
      <if test="record.oldId != null" >
        old_id = #{record.oldId,jdbcType=INTEGER},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dataSource != null" >
        data_source = #{record.dataSource,jdbcType=VARCHAR},
      </if>
      <if test="record.dataSourceType != null" >
        data_source_type = #{record.dataSourceType,jdbcType=CHAR},
      </if>
      <if test="record.loader != null" >
        loader = #{record.loader,jdbcType=VARCHAR},
      </if>
      <if test="record.config != null" >
        config = #{record.config,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sas_data_source
    set id = #{record.id,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      application = #{record.application,jdbcType=VARCHAR},
      domain = #{record.domain,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      display_name = #{record.displayName,jdbcType=VARCHAR},
      finger = #{record.finger,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=CHAR},
      modify_user = #{record.modifyUser,jdbcType=VARCHAR},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      parent = #{record.parent,jdbcType=VARCHAR},
      tree_id = #{record.treeId,jdbcType=INTEGER},
      id_path = #{record.idPath,jdbcType=OTHER},
      name_path = #{record.namePath,jdbcType=VARCHAR},
      subs = #{record.subs,jdbcType=ARRAY},
      attributes = #{record.attributes,jdbcType=OTHER},
      c_search = #{record.cSearch,jdbcType=VARCHAR},
      tag = #{record.tag,jdbcType=VARCHAR},
      index = #{record.index,jdbcType=INTEGER},
      old_id = #{record.oldId,jdbcType=INTEGER},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      data_source = #{record.dataSource,jdbcType=VARCHAR},
      data_source_type = #{record.dataSourceType,jdbcType=CHAR},
      loader = #{record.loader,jdbcType=VARCHAR},
      config = #{record.config,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.its.itone.sas.config.dao.pojo.SasDataSource" >
    update sas_data_source
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="application != null" >
        application = #{application,jdbcType=VARCHAR},
      </if>
      <if test="domain != null" >
        domain = #{domain,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null" >
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="finger != null" >
        finger = #{finger,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parent != null" >
        parent = #{parent,jdbcType=VARCHAR},
      </if>
      <if test="treeId != null" >
        tree_id = #{treeId,jdbcType=INTEGER},
      </if>
      <if test="idPath != null" >
        id_path = #{idPath,jdbcType=OTHER},
      </if>
      <if test="namePath != null" >
        name_path = #{namePath,jdbcType=VARCHAR},
      </if>
      <if test="subs != null" >
        subs = #{subs,jdbcType=ARRAY},
      </if>
      <if test="attributes != null" >
        attributes = #{attributes,jdbcType=OTHER},
      </if>
      <if test="cSearch != null" >
        c_search = #{cSearch,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="index != null" >
        index = #{index,jdbcType=INTEGER},
      </if>
      <if test="oldId != null" >
        old_id = #{oldId,jdbcType=INTEGER},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataSource != null" >
        data_source = #{dataSource,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceType != null" >
        data_source_type = #{dataSourceType,jdbcType=CHAR},
      </if>
      <if test="loader != null" >
        loader = #{loader,jdbcType=VARCHAR},
      </if>
      <if test="config != null" >
        config = #{config,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.its.itone.sas.config.dao.pojo.SasDataSource" >
    update sas_data_source
    set type = #{type,jdbcType=VARCHAR},
      application = #{application,jdbcType=VARCHAR},
      domain = #{domain,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      display_name = #{displayName,jdbcType=VARCHAR},
      finger = #{finger,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      modify_user = #{modifyUser,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      parent = #{parent,jdbcType=VARCHAR},
      tree_id = #{treeId,jdbcType=INTEGER},
      id_path = #{idPath,jdbcType=OTHER},
      name_path = #{namePath,jdbcType=VARCHAR},
      subs = #{subs,jdbcType=ARRAY},
      attributes = #{attributes,jdbcType=OTHER},
      c_search = #{cSearch,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      index = #{index,jdbcType=INTEGER},
      old_id = #{oldId,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      data_source = #{dataSource,jdbcType=VARCHAR},
      data_source_type = #{dataSourceType,jdbcType=CHAR},
      loader = #{loader,jdbcType=VARCHAR},
      config = #{config,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>